
## master options

export CONJUR_MASTER_HOST_NAME=conjur-master
export CONJUR_APPLIANCE_IMAGE=registry.tld/conjur-appliance:11.2.1
export CONJUR_MASTER_CONTAINER_NAME = dap

export FOLLOWER_NAMESPACE_NAME=cyberark
export CONJUR_FOLLOWER_SERVICE_NAME=conjur-follower.$FOLLOWER_NAMESPACE_NAME.svc.cluster.local
export MASTER_ALTNAMES="$CONJUR_MASTER_HOST_NAME"
export FOLLOWER_ALTNAMES="$CONJUR_MASTER_HOST_NAME,$CONJUR_FOLLOWER_SERVICE_NAME"



export CONJUR_ACCOUNT=dev
export CONJUR_ADMIN_PASSWORD=Cyberark1
export CLI_IMAGE_NAME=conjurinc/cli5:latest
